*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(120, 159, 160);
    overflow-x: hidden;

}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 70%;
    width: 50%;
    background-color:  rgb(25, 42, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 1px 1px 7px 2px black;

}

#child1{
    background-color: cadetblue;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px 12px 0px 0px;
}
#child1 div i{
    font-size: 1.7rem;
}
#child1 div{
    height: 25%;
    margin: 0px 40px;
    padding: 30px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#child1 div:hover{
    padding: 40px 20px;
    animation: colormove forwards 0.9s;
    transform: scale(1.3) translateY(-10px);
}
@keyframes colormove {
    0%{
        color: black;
    }
    100%{
        color: beige;
    }

}


#child2{
    background-color: rgb(25, 42, 43);
    height: 68%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 12px 12px;
}
.chrono{
    background-color:cadetblue;
    width: 80%;
    border-radius: 12px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chrono h1{
    font-size: 6rem;
}
.modify{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 10px;
    border-radius: 12px;
    height: 24vh;
    width: 30%;
    background-color:cadetblue;
    box-shadow: 1px 1px 7px 2px black;
}
.numbers{
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.set{
    text-align: center;
    width: 30%;
    padding: 0;
}
.set input{
    width: 90%;
    font-size: 2rem;
    text-align: center;
    padding-left: 15px;
    border-radius: 12px;
    border: 0px solid black;
    box-shadow: 0px 0px 10px 3px black;
}
.submitdiv{
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitdiv input{
    cursor: pointer;
    padding: 10px 30px;
    text-align: center;
    border-radius: 12px;
    border: 0px solid black;
    box-shadow: 0px 0px 10px 3px black;
    transition: background-color 0.6s, color 0.6s;
}
.submitdiv input:hover{
    color: beige;
    background-color: rgb(25, 42, 43);
}
#child2 .milis{
    position: absolute;
    bottom: 22%;
    right: 30.5%;
    font-size: 3rem;
}

@media (max-width: 1200px){
    .chrono h1 {
        font-size: 4rem;
    }
    #child2 .milis{
        font-size: 2rem;
    }
}

@media (max-width: 900px){
    .chrono h1 {
        font-size: 3rem;
    }
    #child2 .milis{
        font-size: 1.5rem;
    }
    #child1 div{
        height: 25%;
        margin: 0px 10px;
        padding: 10px 10px;
    }

}
@media (max-width: 740px){
    .chrono h1 {
        font-size: 2.5rem;
    }
    #child2 .milis{
        font-size: 1.5rem;
    }
    #child1 div{
        height: 25%;
        margin: 0px 10px;
        padding: 10px 10px;
    }
    #child1 div i{
        font-size: 1rem;
    }
    .container{
        height: 30vh;
        width: 60%;
    }
    #child2 .milis{
        position: absolute;
        bottom: 38%;
        right: 27%;
    }    
}

@media (max-width: 515px){
    .chrono h1 {
        font-size: 1.8rem;
    }
    #child2 .milis{
        font-size: 1.3rem;
    }
    #child1 div{
        height: 25%;
        margin: 0px 10px;
        padding: 10px 10px;
    }
    #child1 div i{
        font-size: 1rem;
    }
    .container{
        height: 30vh;
        width: 90%
    }
    #child2 .milis{
        position: absolute;
        bottom: 38%;
        right: 15%;
    }    
}